# Configuration de base pour Hydr'Hacked
# Vous pouvez changer ces variables si vous ne les avez pas

# L'URL du site source
BASE_URL=https://hydracker.com

# Clé API récupérée depuis l'inspecteur réseau (Authorization: Bearer XXXXXX)
DW_API_KEY=votre_cle_api

# Mot de passe pour déverrouiller l'interface web (celui de l'écran de connexion initial)
API_PASSWORD=votre_mot_de_passe_secret

# (Optionnel) Configuration JDownloader si vous utilisez l'intégration
JD_HOST=192.168.1.100
JD_API_PORT=3128

# (Optionnel) Configuration Plex pour les badges (SUR PLEX)
PLEX_URL=http://votre-plex:32400
PLEX_TOKEN=votre_token_plex
